<div class="row">
    <div class="col">
        <label for="first_name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{form.first_name.value|default_if_none:''}}">
    </div>
    {% for error in form.last_name.errors %}
    <div class="col">             
        <label for="erorr" class="form-label">Недостаточно данных:</label>
        <p class="text-danger" id="erorr">{{ error }}</p>
    </div>
    {% endfor %}
    <div class="col">
        <label for="last_name" class="form-label">Фамилиия</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{form.last_name.value|default_if_none:''}}">
    </div>
  </div>

<div class="mb-3">
    <label for="email" class="form-label">Почта</label>
    {% for error in form.email.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
    <input type="email" class="form-control" id="email" value="{{form.email.value|default_if_none:''}}" name="email">
</div>
