
{% extends 'partial/common/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{% if projects %}
{% for project in projects%}
<div class="project-board">
  <div class="main-detail">
    <div class="title-detail">
      <h1>№{{project.pk}} {{project.title}}</h1>

      {% if perms.todoapp.change_todoproject or request.user.is_superuser %}
      <a href="{% url 'project_edit' project.pk %}"><img style="margin-left: 100px;" src="/static/pensil.png" width="30" 
        height="30" alt="Edit"></a>
      {% endif %}

    </div>
    <p>Описание: &ensp;{{project.description|default:'нет описания'|linebreaks |wordwrap:7 |truncatechars:100 }}</p>
    <p>Добавлена: &ensp;{{project.begin_at}}</p>
    <p>Редактирована: &ensp;{{project.end_at}}
    <p>Участники проекта: &ensp;{% for user in  project.users.all %}
      {{ user.get_full_name|default_if_none:'не указан' }}&ensp;
      {%endfor%}
    </p>
    <a href="{% url 'projects_list' %}">К списку проектов&ensp;</a>
    <a href="{% url 'project_detail' project.pk%}" class="card-link">Подробнее</a>
    {% if user in project.users.all and perms.todoapp.add_todotask or request.user.is_superuser %}
    <a class="" style="margin-top: 10px; " aria-current="page" href="{% url 'project_task_create' project.pk %}">&ensp;Добавить задачу</a>
    {% endif %}
  </div>
</div>

<div class="task-list">
  {% for task in tasks%}
  {%if task.project.pk == project.pk %}
  {% include 'partial/tasks/task-list-for-tasks.html' %} 
  {%endif%}
{%endfor%} 
</div>
{% empty %}
<h1 class="noresult">Задач пока нет...</h1>
{% if is_paginated %}
   {% include 'partial/common/paginator.html' %}
{% endif %}
{% endfor %}
{% else %}
<div class="task-list">
  {% for task in tasks%}
  {% include 'partial/tasks/task-list-for-tasks.html' %} 
  {%empty%}
  <h1 class="noresult">Поиск не дал результатов...</h1>
{%endfor%} 
</div>
{%endif%}
{% if is_paginated %}
   {% include 'partial/common/paginator.html' %}
{% endif %}
{% else %}
<h1 style="text-align: center; margin-top: 100px;" >Не авторизованым пользователям недоступен просмотр контента.</h1>
<a style="color: white; text-align: center; font-size: 50px" href="{% url 'login' %} " class="nav-link">Получить доступ</a>
{% endif %}
{%endblock%}
